.bio {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 140px;
  max-width: 780px;

  a {
    &:hover {
      color: $white;
      background: $primary;
    }
  }

  @media screen and (max-width: $mediumdevice) {
    padding-left: ($gutter / 1.1);
    padding-right: ($gutter / 1.1);
    padding-bottom: ($vertical-padding / 2);
  }
}
