.bio {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 140px;
  max-width: 740px;

  @media screen and (max-width: $mediumdevice) {
    padding-left: ($gutter / 1.1);
    padding-right: ($gutter / 1.1);
    padding-bottom: ($vertical-padding / 2);
  }
}
