.bio {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 140px;
  max-width: 650px;

  p {
    line-height: 1.6em;
  }

  @media screen and (max-width: $smalldevice) {
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    padding-bottom: ($vertical-padding / 2);
  }
}
