.code {

  .wrap {
    justify-content: space-between;
  }

  // Individual repo container
  .repo {
    flex: 1;
    margin-right: $gutter;

    .repo-top {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      margin-bottom: ($gutter / 1.5);
      min-height: 200px;
      border: solid 1px $black;

      &:hover {
        border-color: $primary;
        box-shadow: 10px 10px 0px 0px $primary;

        span {
          &::before {
            @include visible;
            transform: translate(-50%, -50%) scale(1);
          }
        }

        img,
        i {
          transform: scale(0);
        }
      }

      // Image/icon wrapper
      span {
        @include trans;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          @include trans;
          color: $black;
          font-size: 60px;
        }

        &::before {
          --size: 55px;
          @include hidden;
          @include trans;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: 50%;
          color: $primary;
          font-size: 16px;
          height: var(--size);
          width: var(--size);
          border: solid 2px $primary;
          border-radius: var(--size);
          transform: translate(-50%, 50%) scale(0);
        }
      }

      img {
        @include trans;
        height: 60px;
        width: auto;

        &.layer-cake {
          height: 65px;
        }
      }

      p {
        padding-right: $gutter;
      }

      @media screen and (max-width: $smalldevice) {
        min-height: 160px;
      }
    }

    .repo-bottom {
      @media screen and (max-width: $mediumdevice) {
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
      }
    }

    &:last-child {
      margin-right: 0;

      @media screen and (max-width: $mediumdevice) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: $largedevice) {
      margin-right: ($gutter / 2);
    }

    @media screen and (max-width: $mediumdevice) {
      margin-right: 0;
      margin-bottom: $gutter;
    }
  }

  @media screen and (max-width: $mediumdevice) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}
