.code {

  .wrap {
    justify-content: space-between;
  }

  // Individual repo container
  .repo {
    flex: 1;
    margin-right: ($gutter / 2);

    .repo-top {
      @include border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      margin-bottom: ($gutter / 2);
      min-height: 200px;
      border: solid 1px $black;

      &:hover {
        border-color: $primary;
        background: $primary;

        span {
          &::before {
            @include visible;
            transform: translate(-50%, -50%) scale(1);
          }
        }

        img,
        i {
          transform: scale(0);
        }
      }

      // Image/icon wrapper
      span {
        @include trans;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          @include trans;
          font-size: 60px;
        }

        &::before {
          @include hidden;
          @include trans;
          position: absolute;
          top: 50%;
          left: 50%;
          color: $white;
          transform: translate(-50%, 50%) scale(0);
          transform-origin: 0 0;
        }
      }

      img {
        @include trans;
        height: 60px;
        width: auto;
      }
    }

    &:last-child {
      margin-right: 0;

      @media screen and (max-width: $mediumdevice) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      margin-right: 0;
      margin-bottom: $gutter;
    }
  }
}
