.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: ($vertical-padding * 4);
  min-height: 75vh;

  .wrap {
    flex-direction: column;
    max-width: $maxdesktop;
  }

	@media screen and (max-width: $smalldevice) {
    height: auto;
    min-height: 70vh;
  }
}
