.read {
  @include trans;
  position: relative;
  background: $primary;
  overflow: hidden;

  &.open {
    padding: ($vertical-padding * 1.5) ($gutter / 2);

    .section-header,
    .wrap {
      opacity: 0.08;
    }

    // When visible
    .book-list {
      top: 0;
    }

    // When visible
    .book-list-close {
      @include visible;
      @include trans;
      transform: scale(1);

      &:hover {
        font-size: 15px;
        transform: scale(0.85);
      }
    }
  }

  .section-header {
    @include trans;
  }

  .wrap {
    @include trans;
    align-items: flex-start;
    justify-content: space-between;

    // Container with current book selection
    .current {
      padding-right: $gutter;

      .book-title {
        color: $white;
        padding-right: $gutter;

        @media screen and (max-width: $mediumdevice) {
          padding-right: 0;
        }
      }

      .subline {
        display: block;
        font-size: 26px;
        line-height: 35px;
        margin-top: ($gutter / 6);
        margin-bottom: ($gutter / 6);

        @media screen and (max-width: $mediumdevice) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      .book-author {
        margin-top: ($gutter / 4);
        margin-left: 2px;
      }

      @media screen and (max-width: $mediumdevice) {
        padding-right: 0;
        margin-bottom: ($gutter / 2);
      }
    }

    a.main {
      color: $white;

      &:hover {

        i {
          color: $primary;
          background: $white;
        }
      }

      i {
        border-color: $white;
      }
    }

    // Link to launch book library
    .book-library {
      display: flex;
      flex: 0 0 auto;

      @media screen and (max-width: $mediumdevice) {
        justify-content: center;
        width: 100%;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      text-align: center;
      align-items: center;
    }
  }
}
