.read {

  .wrap {
    align-items: center;
    justify-content: space-between;

    // Container with current book selection
    .current {
      padding-right: $gutter;

      .book-title {
        padding-right: $gutter;
        margin-bottom: ($gutter / 4);

        @media screen and (max-width: $smalldevice) {
          padding-right: 0;
        }
      }

      .book-author {
        margin-left: 2px;
      }

      @media screen and (max-width: $smalldevice) {
        padding-right: 0;
        margin-bottom: ($gutter / 2);
      }
    }

    // Link to launch book library
    .book-library {
      display: flex;
      flex: 0 0 auto;
    }

    @media screen and (max-width: $smalldevice) {
      align-items: flex-start;
    }
  }
}
