.current-projects {

  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;

    .projects-row {
      display: flex;
      margin-bottom: ($gutter * 2.5);

      // When you want to flip display of image/copy
      &.reverse {
        flex-direction: row-reverse;

        .project-info {
          padding-right: $gutter;
          padding-left: 0;


          @media screen and (max-width: $largedevice) {
            padding-right: 0;
          }
        }

        @media screen and (max-width: $largedevice) {
          flex-direction: column;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: $largedevice) {
        flex-direction: column;
        margin-bottom: ($gutter / 2);
      }
    }

    // Invdividual project listing
    .project {
      @include border-radius;
      position: relative;
      overflow: hidden;
      flex: 2.8;
      max-width: 60vw;

      img {
        float: left;
      }

      @media screen and (max-width: $largedevice) {
        max-width: 100%;
        margin-bottom: ($gutter / 1.5);
      }
    }

    // Project info
    .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      flex: 1;
      padding-left: $gutter;
      z-index: 9990;

      h2 {
        margin-bottom: ($gutter / 2);
      }

      p {
        margin-bottom: ($gutter / 1.5);
        max-width: 95%;

        @media screen and (max-width: $largedevice) {
          margin: 0 auto ($gutter / 4);
        }
      }

      @media screen and (max-width: $largedevice) {
        align-items: center;
        text-align: center;
        padding: 0;
        padding-bottom: ($gutter / 2);
      }
    }
  }

  @media screen and (max-width: $largedevice) {
    padding-bottom: ($gutter / 2);
  }
}

// Non-major projects
.other-projects {
  flex-direction: column;
  padding-top: 0;

  .project {
    display: flex;
    flex-direction: column;
    margin-right: ($gutter / 1.5);

    &:last-child {
      margin-right: 0;

      @media screen and (max-width: $mediumdevice) {
        margin-bottom: 0;
      }
    }

    // Project image
    .project-image {
      margin-bottom: $gutter;
      border-radius: $radius;
      overflow: hidden;

      img {
        float: left;
      }

      @media screen and (max-width: $mediumdevice) {
        margin-bottom: ($gutter / 2);
      }
    }

    // Project info
    .project-info {
      text-align: center;

      p {
        margin: 0 auto;
        max-width: 500px;
      }
    }

    .main {
      margin-top: ($gutter / 2);
    }

    @media screen and (max-width: $mediumdevice) {
      margin-right: 0;
      margin-bottom: $gutter;
    }
  }
}