.work {
  padding-left: 0;
  padding-right: 0;

  .section-header {
    padding-left: $gutter;

    @media screen and (max-width: $smalldevice) {
      padding: 0;
    }
  }

  .wrap {
    margin: 0;
    max-width: 100%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;

  .projects-row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $largedevice) {
      flex-direction: column;
    }
  }

  // Invdividual project listing
  .project {
    flex: 1;

    // In case there isn't a graphic here
    &.blank {
      .project-cover {
        background: transparent;

        img {
          display: none;
        }
      }

      @media screen and (max-width: $mediumdevice) {
        display: none;
      }
    }

    .project-cover {
      position: relative;
      background: $primary;
      overflow: hidden;

      &:hover {
        img {
          box-shadow: -10px 10px 40px 0 rgba($black, 0.3);
          transform: scale(0.65) translateY(15%);

          @media screen and (max-width: $mediumdevice) {
            transform: scale(0.65) translateY(20%);
          }

          @media screen and (max-width: $smalldevice) {
            transform: scale(0.5) translateY(30%);
          }
        }

        .project-info {
          @include visible;
        }
      }

      img {
        position: relative;
        @include trans;
        float: left;
        width: 100%;
        height: auto;
        z-index: 1;
      }
    }

    .project-info {
      @include hidden;
      position: absolute;
      top: 9%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 0;
    }

    .button.secondary {
      color: $white;
      margin-top: 10px;
      border-color: $white;
    }

    p {
      color: $white;
      padding: 0 ($gutter / 2);
    }

    @media screen and (max-width: $mediumdevice) {
      margin-right: 0;
    }
  }
}

.mini-projects {
  display: flex;
  margin-bottom: $gutter;

  .mini-project {
    flex: 1;
  }
}

// Link to Behance
.view-behance {
  display: flex;
  justify-content: flex-end;
  margin-top: $gutter;
  margin-right: ($headerwidth + $gutter);

  @media screen and (max-width: $largedevice) {
    justify-content: center;
    margin-right: 0;
  }
}
