.write {
  background: $offwhite;

  .wrap {
    justify-content: space-between;
  }

  .subline {
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    margin-top: ($gutter / 3);

    @media screen and (max-width: $mediumdevice) {
      font-size: 20px;
      line-height: 30px;
      margin-top: ($gutter / 4);
    }
  }

  .date {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin-top: ($gutter / 2);
    opacity: 0.5;

    @media screen and (max-width: $mediumdevice) {
      font-size: 15px;
    }
  }

  // Most recent article
  .current {
    flex: 2;
    padding-right: ($gutter * 2);

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }

    @media screen and (max-width: $largedevice) {
      padding-right: $gutter;
    }

    @media screen and (max-width: $mediumdevice) {
      padding-right: 0;
      margin-bottom: $gutter;
    }
  }

  .articles {
    flex: 1;
    min-width: 280px;

    // Individual article container
    .article {
      position: relative;
      padding-bottom: $gutter;
      margin-bottom: ($gutter / 3);

      // Article separator
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 60px;
        background: $black;

        @media screen and (max-width: $mediumdevice) {
          display: none;
        }
      }

      .subline {
        display: block;
        font-size: 20px;
        line-height: 30px;
        margin-top: ($gutter / 4);

        @media screen and (max-width: $mediumdevice) {
          font-size: 16px;
          line-height: 25px;
        }
      }

      a {
        color: $black;

        &:hover {
          color: $primary;
        }
      }

      @media screen and (max-width: $smalldevice) {
        padding-bottom: ($gutter / 2);
      }
    }
  }

  @media screen and (max-width: $mediumdevice) {
    text-align: center;
  }
}
