.write {
  background: $offwhite;

  .wrap {
    flex-direction: column;
    justify-content: space-between;
  }

  .subline {
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    margin-top: ($gutter / 4);

    @media screen and (max-width: $mediumdevice) {
      font-size: 20px;
      line-height: 30px;
      margin-top: ($gutter / 4);
    }
  }

  .date {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1;
    margin-bottom: ($gutter / 3);
    opacity: 0.5;

    @media screen and (max-width: $mediumdevice) {
      font-size: 0.65em;
    }
  }

  // Most recent article
  .current {
    display: flex;
    flex-direction: column;
    padding-right: ($gutter * 2);

    h2 {
      position: relative;
      left: -7px;
    }

    .date {
      margin-bottom: ($gutter / 2);
    }

    @media screen and (max-width: $mediumdevice) {
      justify-content: center;
      padding-right: 0;
    }
  }

  .recent {
    display: flex;
  }

  .upcoming {
    position: relative;
    display: flex;
    margin-top: $gutter;
    padding-top: $gutter;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 80px;
      background: rgba($black, 0.5);

      @media screen and (max-width: $mediumdevice) {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .story {
      flex: 1;
      padding-right: $gutter;

      @media screen and (max-width: $mediumdevice) {
        padding-right: 0;
        padding-top: $gutter;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      flex-direction: column;
      padding-top: ($gutter / 6);
    }
  }

  .view-medium {
    align-self: flex-end;
    margin-top: ($gutter * 1.2);

    @media screen and (max-width: $mediumdevice) {
      align-self: center;
    }
  }

  a:not(.main) {
    color: $black;

    &:hover {
      color: $primary;
    }
  }

  @media screen and (max-width: $mediumdevice) {
    text-align: center;
  }
}
