.write {

  .wrap {
    justify-content: space-between;
  }

  .date {
    display: block;
    font-family: $secfont;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-top: ($gutter / 3);
  }

  // Most recent article
  .current {
    flex: 2;
    padding-right: ($gutter * 2);

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }

    @media screen and (max-width: $smalldevice) {
      padding-right: 0;
      margin-bottom: $gutter;
    }
  }

  .articles {
    flex: 1;
    min-width: 280px;

    // Individual article container
    .article {
      position: relative;
      padding-bottom: $gutter;
      margin-bottom: ($gutter / 4);

      // Article separator
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 60px;
        background: $black;
      }

      a {
        color: $black;

        &:hover {
          color: $primary;
        }
      }

      @media screen and (max-width: $smalldevice) {
        padding-bottom: ($gutter / 2);
      }
    }
  }
}
