*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body {
  font-size: 120%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: $white;
}

body {
  @include trans;
	font-family: $mainfont;
	font-size: $basefontsize;
  font-weight: 400;
}

// Links
a {
  @include trans;
  position: relative;
  color: $primary;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px transparent;

  &:hover {
    color: $primary;
    box-shadow: 0px 2px 0px 0px $primary;
  }

  // Button links (with arrows)
  &.main {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    color: $primary;
    font-family: $mainfont;
    font-weight: 500;
    box-shadow: none;

    svg {
      --size: 70px;
      @include trans;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 15px;
      padding: 20px;
      height: var(--size);
      width: var(--size);
      border: solid 2px $primary;
      border-radius: var(--size);
      z-index: 0;

      &::before {
        position: relative;
        left: 1px;
        top: 1px;
      }

      @media screen and (max-width: $smalldevice) {
        --size: 40px;
        padding: 6px;
      }
    }

    &:hover {
      color: $primary;
      background: transparent;

      svg {
        color: $white;
        background: $primary;
        left: 20px;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      font-size: 0.9em;
      justify-content: center;
    }
  }
}

a,
a:active,
a:visited {
	outline: none;
}

// Images
img {
	max-width: 100%;
}

// Accents
strong,
strong a {
	font-weight: 600;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

ul,
ol {
  margin: 0;
  margin-bottom: ($gutter / 2);

  li {
    line-height: 1.6em;
    margin-bottom: ($gutter / 4);
  }
}

// Blockquotes
blockquote,
q {
	position: relative;
	color: $base;
	font-size: 1.6em;
	font-weight: 400;
	line-height: 1.8em;
  text-align: center;
  padding: 1.6em ($gutter / 2);
  margin: 2em 0;

  &::before,
  &::after {
  	content: '';
  	position: absolute;
  	left: 50%;
  	margin-left: -40px;
  	height: 2px;
  	width: 60px;
  	background: $gray;
  }

  &::before {
  	top: 0;
  }

  &::after {
  	bottom: 0;
  }

  @media screen and (max-width: $mediumdevice) {
    font-size: 1.4em;
  }

	@media screen and (max-width: $smalldevice) {
		font-size: 1.2em;
		line-height: 1.6em;
		padding: $gutter ($gutter / 2);
	}
}

// Selection
::selection {
  color: $white;
  background: $primary;
}

// Code
pre {
	@include border-radius;
	font-size: .8em;
	line-height: 1.4em;
	padding: 1.6em;
	margin-bottom: 32px;
	background: $lgray;
	border-left: solid 5px $primary;
}

// Page wrapper
main {
  @include trans;
  padding: 0;
	min-height: min-content;
  width: 100%;
}

section {
  margin: 0 auto;
  padding: $vertical-padding ($gutter / 2);

  &.large {
    max-width: $largedevice;
  }

  &.medium {
    max-width: $mediumdevice;
  }

  .section-header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $maxdesktop;

    @media screen and (max-width: $mediumdevice) {
      text-align: center;
      padding: 0 ($gutter / 2);
    }
  }

  img {
    margin-bottom: $gutter;
  }

  @media screen and (max-width: $largedevice) {
    padding-right: ($headerwidth + ($gutter / 2));
    padding-left: ($headerwidth + ($gutter / 2));
  }

  @media screen and (max-width: $mediumdevice) {
    padding: ($vertical-padding / 1.5) ($gutter / 2);
  }
}

// Inner section wrapper
.wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: $maxdesktop;

  @media screen and (max-width: $mediumdevice) {
    flex-direction: column;
  }
}
