main {
	display: flex;
	align-items: center;
  flex-wrap: wrap;
  flex: 2;
	padding: 0 $bodypadding;
	height: calc(100% - (#{$headerheight}) - (#{$footerheight}));
	min-height: min-content;
	width: 100%;

	.welcome {
		display: flex;
		flex-direction: column;
		padding: ($headerheight / 2) 0 ($footerheight / 2);
		width: 75%;

		h2 {
			width: 100%;

			a {
				font-weight: 300;
				text-transform: none;
			}
		}

		@media screen and (max-width: $mediumdevice) {
			padding: ($headerheight / 4) 0 $gutter;
			width: 100%;
		}
	}

	@media screen and (max-width: $mediumdevice) {
		height: auto;
	}
}
