// Structure
section {
	position: relative;
	padding: $sectionpadding 5%;
	background: white;

	.wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: $largemaxwidth;
	}

	@media only screen and (max-width: $mediumdevice) {
		padding-top: $sectionpadding/2;
		padding-bottom: $sectionpadding/2;
    }
}