// Colors & Palette
$white: #fff;
$black: #000;

$base: #141414;
$dgray: lighten($base, 25%);
$gray: lighten($base, 45%);
$medgray: lighten($base, 65%);
$lgray: lighten($base, 76%);
$offwhite: #f6f6f6;

$primary: #0432ff; // Blue

// Fonts
$basefontsize: 20px;
$mainfont: 'Spartan', Helvetica, Arial, sans-serif;
$iconfont: 'noah-shrader';

// Header
$headerwidth: 100px;

// Footer
$footerheight: 140px;

// Book List
$book-list-width: 860px;

// Miscellaneous
$intro-image-size: 550px;
$socialmenumobile: 60px;

// Structure
$radius: 10px;

// Padding & Spacing
$gutter: 60px;
$vertical-padding: 140px;
$horizontal-padding: ($headerwidth * 1.5);

// Breakpoints
$maxdesktop: 1400px;
$largedevice: 1024px;
$mediumdevice: 860px;
$smalldevice: 500px;