// Colors & Palette
$white: #fff;
$black: #000;

$base: #141414;
$dgray: lighten($base, 25%);
$gray: lighten($base, 45%);
$medgray: lighten($base, 65%);
$lgray: lighten($base, 76%);
$offwhite: #f6f6f6;

$primary: #0432ff; // Blue

// Fonts
$basefontsize: 20px;
$mainfont: 'Poppins', Helvetica, Arial, sans-serif;
$iconfont: 'noah-shrader';

// Project colors
$pkradio: #221c36;
$tagtician: #f58f31;
$tagtician-blue: #292e3a;
$pullr: #2bbb9a;

// Header
$headerwidth: 100px;

// Footer
$footerheight: 140px;

// Book List
$book-list-width: 460px;

// Miscellaneous
$intro-image-size: 480px;

// Structure
$radius: 2px;

// Padding & Spacing
$gutter: 60px;
$vertical-padding: 160px;
$horizontal-padding: ($headerwidth * 2);

// Breakpoints
$maxdesktop: 1600px;
$largedevice: 1024px;
$mediumdevice: 800px;
$smalldevice: 480px;