.project {

  &.pullr {
    background: $medgray;

    .info {
      float: right;
      padding: 0;
      padding-right: ($sectionpadding / 2);
      transform: translateY(-20%);

      h3 {
        color: $dgray;
      }

      @media only screen and (max-width: $mediumdevice) {
        float: none;
        padding: ($sectionpadding / 2);
        transform: none;
      }
    }

    .previews {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 60%;
      overflow: hidden;

      .app {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translateX(-10%);
      }

      @media only screen and (max-width: $mediumdevice) {
        position: static;
        width: 100%;
      }
    }
  }
}
