.project.pullr {
  padding-right: 50%;

  .info {
    margin-top: -12%;
    width: 60%;

    @media only screen and (max-width: $mediumdevice) {
      margin-top: 0;
      width: 100%;
    }
  }

  .project-wrap {

    .app {
      position: absolute;
      bottom: 50%;
      right: 0;
      width: 60%;
      z-index: 10;
      transform: translateY(55%);
      @media only screen and (max-width: $mediumdevice) {
        position: relative;
        margin-bottom: -80px;
        width: 100%;
        transform: none;
      }
    }
  }

  @media only screen and (max-width: $mediumdevice) {
    padding-right: 0;
  }
}
