.project.tagtician {
  text-align: center;

  .info {
    margin: 0 auto;
    max-width: 860px;

    p {
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
  }

  .project-wrap {

    .app {
      position: relative;
      left: 50%;
      width: 100%;
      max-width: 1400px;
      transform: translateX(-50%);
    }

    @media only screen and (max-width: $mediumdevice) {
      padding-bottom: 0;
    }
  }
}
