.about-intro {
  padding-top: 0;
  padding-bottom: $gutter;

  .wrap {
    max-width: $largedevice;
  }

  h1 {
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: calc($gutter * 2);
  }

  img {
    flex: 1;
    margin: 0;
    max-width: 50%;
  }
}

.about-opener {
  .wrap {
    display: block;
    max-width: $mediumdevice;
  }
}

.about-process {
  padding-top: 0;

  .wrap {
    display: block;
    max-width: $largedevice;

    &-inner {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr) );
      padding-top: $gutter;
    }
  }
}

.about-tools {
  display: flex;

  .wrap {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    max-width: $largedevice;
  }

  img {
    height: 60px;
    width: 60px;
    margin-bottom: calc($gutter / 2);
  }
}