.about {
  main {
    padding-top: ($gutter * 2);
  }
}

.about-intro {
  padding-top: 0;

  h4 {
    margin: ($gutter / 2) 0;
  }

  img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: -250px auto ($gutter * 1.5);
  }
}

.about-process {
  padding-top: 0;

  .wrap {
    display: block;
    max-width: $largedevice;

    &-inner {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr) );
      padding-top: $gutter;
    }
  }
}

.about-tools {
  display: flex;

  .wrap {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
    max-width: $largedevice;
  }

  img {
    height: 60px;
    width: 60px;
    margin-bottom: ($gutter / 2);
  }
}