.about-intro {
  h4 {
    margin: ($gutter / 2) 0;
  }

  img {
    width: 100%;
    max-width: 480px;
    margin-bottom: $gutter;
  }
}

.about-process {
  .wrap {
    flex-direction: column;
    max-width: $mediumdevice;
  }
}

.about-tools {
  display: flex;
  background: $offwhite;

  .wrap {
    max-width: $maxdesktop;
  }

  .row {
    display: flex;
    flex: 1;

    div {
      flex: 1;
      text-align: center;
      padding: ($gutter / 2);
    }
  }
}