.blog {

  .entry {
    display: flex;
    padding-top: ($gutter / 2);
    padding-bottom: ($gutter / 2);

    &:first-child {
      padding-top: 0;
    }

    .thumbnail,
    .post-info {
      flex: 1;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: ($gutter * 2);

      .date {
        display: inline-block;
        font-size: 0.8em;
        margin-bottom: ($gutter / 2);
      }

      a {
        color: $base;
      }

      p {
        max-width: 650px;
      }

      .meta {
        span {
          display: inline-block;
          font-size: 0.9em;
          padding-right: ($gutter / 2);
        }
      }
    }

    img {
      object-fit: fill;
      height: 450px;
      width: 100%;
      margin: 0;
    }
  }
}

.post {
  .post-header {
    padding: 0;

    .post-info {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 50vw;
      z-index: 10;
    }

    .post-image {
      position: relative;;
      flex: 3;
      margin-right: -8vw;
      margin-left: -25vw;
      min-width: 50vw;
      z-index: 1;
    }

    img {
      object-fit: fill;
      height: 70vh;
      width: 100%;
    }
  }
}