.blog {

  // Scrolling progress meter
  .progress-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5px;
    z-index: 1000;

    .progress-bar {
      background-color: $base;
      width: 0%;
      display: block;
      height: inherit;
    }
  }

  .entry {
    display: flex;
    padding-top: calc($gutter / 2);
    padding-bottom: calc($gutter / 2);

    &:first-child {
      padding-top: 0;
    }

    .thumbnail,
    .post-info {
      flex: 1;
    }

    .post-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: calc($gutter * 2);

      .date {
        display: inline-block;
        font-size: 0.8em;
        margin-bottom: calc($gutter / 2);
      }

      h2 {
        margin-bottom: calc($gutter / 2);
      }

      a {
        color: $base;
      }

      p {
        max-width: 650px;
      }

      .meta {
        span {
          display: inline-block;
          color: $gray;
          font-size: 0.8em;
          padding-right: calc($gutter / 2);
        }
      }
    }

    img {
      object-fit: cover;
      height: 450px;
      width: 100%;
      margin: 0;
    }
  }
}

.post {
  .post-header {
    padding: 0;

    .post-info {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      padding-left: $gutter;
      min-width: 50vw;
      z-index: 10;
    }

    .post-image {
      position: relative;;
      flex: 3;
      margin-right: $offset-right;
      margin-left: $offset-left;
      min-width: 50vw;
      z-index: 1;

      img {
        object-fit: cover;
        height: $intro-height;
        width: 100%;
      }
    }
  }
}

.content {
  .wrap {
    flex-direction: column;
    max-width: $smalldevice;
  }
}
