// Intro
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: calc($headerheight * 3.4) !important;
  min-height: 75vh;

  .wrap {
    flex-direction: column;
  }

	@media screen and (max-width: $smalldevice) {
    height: auto;
    min-height: 70vh;
  }
}

// Featured projects
.featured-projects {
  padding-top: $gutter;
  padding-bottom: 0;

  .project {
    padding: $gutter 0;

    &:last-child {
      padding-bottom: 0;
    }

    &.left {
      flex-direction: row-reverse;

      .project-image {
        margin-left: $offset-right;
        margin-right: 0;
      }

      .project-info {
        padding-left: $gutter;
        padding-right: 0;
      }
    }

    .project-image {
      flex: 3;
      margin-right: $offset-right;

      img {
        width: 100%;
      }
    }

    .project-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding-right: $gutter;
    }
  }
}

// Blog
.home-blog {
  .home-blog-intro {
    flex: 1;
  }

  .home-blog-entry {
    flex: 2;
    padding-left: calc($gutter / 2);
    
    h4 {
      margin-bottom: calc($gutter / 2);
    }

    img {
      @include trans;
      margin-bottom: calc($gutter / 2);
      border: solid 2px transparent;
    }

    &:hover {
      img {
        border-color: $primary;
        box-shadow: 7px 7px 0px 0px $primary;
      }

      a {
        color: $primary;
      }
    }
  }
}