.case-study {
  padding-bottom: $gutter;

  .case-study-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: calc($gutter * 2);

    a {
      &:hover {
        color: $primary;
      }
    }
  }

  .case-study-image {
    @include trans;
    flex: 3;
    border: solid 2px transparent;
    border-radius: 3px;

    &.active {
      border-color: $primary;
      box-shadow: 7px 7px 0px 0px $primary;
    }

    img {
      object-fit: fill;
      height: 700px;
      width: 100%;
      margin: 0;
    }
  }
}

.portfolio {

  .wrap {
    flex-direction: column;
    max-width: $maxdesktop;
  }

  &-wrap {
    display: grid;
    grid-gap: calc($gutter / 2);
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) );
    padding-top: calc($gutter / 2);

    > div {
      @include border-radius;
      @include trans;
      position: relative;
      overflow: hidden;

      img {
        @include trans;
        float: left;
        margin: 0;
      }
    }
  }
}