.case-study {
  padding-bottom: $gutter;

  .case-study-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .case-study-image {
    flex: 3;
    padding-left: calc($gutter * 2);

    img {
      object-fit: fill;
      height: 700px;
      width: 100%;
      margin: 0;
    }
  }
}

.portfolio {

  .wrap {
    flex-direction: column;
    max-width: $maxdesktop;
  }

  &-wrap {
    display: grid;
    grid-gap: calc($gutter / 2);
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) );
    padding-top: calc($gutter / 2);

    > div {
      @include border-radius;
      @include trans;
      position: relative;
      border: solid 2px transparent;
      overflow: hidden;

      &:hover {
        border-color: $primary;
        box-shadow: 6px 6px 0px 0px $primary;
      }

      img {
        @include trans;
        float: left;
        margin: 0;
      }
    }
  }
}