.welcome {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	z-index: 900;
	background: transparent;

	&.hide {
		visibility: hidden;
	}

	&-wrapper {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		padding: 0 5%;
		width: 100%;
		transform: translateY(-50%);
		z-index: 10;

		// Icon/Logo
		.logo {
			display: inline-block;
			color: $primary;
			font-size: 110px;
			margin-bottom: 5px;

			@media only screen and (max-width: $mediumdevice) {
				font-size: 3.4em;
			}
		}

		h2 {
			color: $base;
			margin: 0 auto;
			max-width: $contentwidth;
		}

		// Page navigation
		ul {
			@include clean-ul;
			padding-top: ($gutter / 1.5);

			li {
				display: inline-block;
				padding: 0 1.2em;

				a {
					@include smallcaps;
					color: $gray;
					font-weight: 600;

					&:hover {
						color: $primary;
					}
				}

				@media only screen and (max-width: $mediumdevice) {
					padding: 0 .6em;
			  }
			}
		}

		@media only screen and (max-width: $mediumdevice) {
			padding: 0 2.5%;
	  }
	}
}

// Bio block
.about {
	@include clearfix;
	@include border-radius;
	position: relative;
	margin: 94vh auto $sectionpadding;
	width: 90%;
	max-width: 900px;
	background: lighten($offwhite, 5%);
	box-shadow: -30px 30px 50px rgba($black, .1);
	z-index: 1000;

	.info {
		position: relative;
		z-index: 1;

		p {
			margin-bottom: 1.2em;
		}

		.button {
			@include btn(
				$btn-type: 'round'
			);
			float: right;
		}
	}

	@media only screen and (max-width: $mediumdevice) {
		padding: ($gutter / 2);
	}

	@media only screen and (max-width: $smalldevice) {
		margin-bottom: ($sectionpadding / 2);

		.info {
			.button {
				float: none;
				display: block;
			}
		}
  }
}