.about {
	@include clearfix;
	margin: 0 auto;
	padding: 80vh 0 0;
	max-width: 1600px;
	background: black;

	.info {
		position: relative;
		float: left;
		padding: $sectionpadding/2 2% $sectionpadding*2 10%;
		width: 55%;
		z-index: 1;

		.breakdowns {
			@include clearfix;

			.breakdown {
				float: left;
				padding-right: 8%;
				width: 50%;

				p {
					font-size: .85em;
				}

				@media only screen and (max-width: $smalldevice) {
					float: none;
					padding-right: 0;
					width: 100%;
			    }
			}
		}

		h5 {
			color: $dgray;
		}

		p {
			color: $lgray;
		}

		a {
			color: white;
		}

		@media only screen and (max-width: $mediumdevice) {
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: $sectionpadding;
			width: 100%;
	    }

		@media only screen and (max-width: $smalldevice) {
			padding-bottom: $sectionpadding/2;
	    }
	}

	.noah {
		@include bgcover;
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-image: url('../img/noah.jpg');
		z-index: 0;

		@media only screen and (max-width: $mediumdevice) {
			position: static;
			height: 400px;
			width: 100%;
	    }
	}

	img {
		display: block;
		margin: 0 auto;
		height: auto;
		width: 100%;
		max-width: 400px;
		border-radius: 50%;
	}
}