// Main book list container
.book-list {
  @include trans;
  @include hidden;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  padding-top: $gutter;
  width: 100%;
  z-index: 9998;
  overflow: auto;

  // Inner list wrapper
  .list {
    padding: $gutter;
    margin: 0 auto;
    max-width: $book-list-width;
  }

  // Main title
  h3 {
    margin-bottom: $gutter;
  }

  // List of books
  ul {
    @include clean-ul;

    li {
      position: relative;
      font-size: 1em;
      line-height: 1.6em;
      margin-bottom: calc($gutter / 2);

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;

        &::after {
          display: none;
        }
      }

      // Separator lines between books
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 40px;
        background: rgba($white, 0.5);
      }

      @media screen and (max-width: $smalldevice) {
        font-size: 0.85em;
      }
    }
  }
}

// Close button
.book-list-close {
  --size: 50px;
  @include trans;
  position: absolute;
  top: calc($gutter / 2);
  right: calc($gutter / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  border: solid 2px $base;
  z-index: 9999;
  transform: scale(0);

  &:hover {
    border-color: $primary;
    transform: scale(0.9) !important;

    svg {
      color: $primary;
    }
  }

  svg {
    @include trans;
    position: relative;
    color: $base;
    font-size: 16px;
  }
}
