// Social media
footer {
  margin-top: ($vertical-padding / 2);
  background: $offwhite;

  .wrap {
    display: flex;
    justify-content: space-between;

    .contact-link {
      flex: 1;
      text-align: center;
      padding: ($vertical-padding / 2) $horizontal-padding;

      &:hover {
        background: $primary;

        h4 {
          color: $white;
        }
      }

      @media screen and (max-width: $smalldevice) {
        padding-top: ($vertical-padding / 2);
        padding-bottom: ($vertical-padding / 2);
      }
    }
  }

  @media screen and (max-width: $smalldevice) {
    margin-top: 0;
    margin-bottom: 64px;
  }
}
