// Social media
footer {
  @include trans;
  background: $offwhite;

  // When book library modal is open
  &.open {
    opacity: 0.25;
    pointer-events: none;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    .contact-link {
      flex: 1;
      text-align: center;
      padding: ($vertical-padding / 2) $horizontal-padding;

      &:hover {
        background: $primary;

        h4,
        h5 {
          color: $white;
        }
      }

      h4,
      h5 {
        margin-bottom: 0;
      }

      svg {
        --size: 32px;
        position: relative;
        top: -2px;
        height: var(--size);
        width: var(--size);
        margin-right: 12px;

        @media screen and (max-width: $mediumdevice) {
          --size: 24px;
          top: -3px;
        }
      }

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: $mediumdevice) {
        padding: ($vertical-padding / 2) ($gutter / 2);
      }

      @media screen and (max-width: $smalldevice) {
        padding-top: ($vertical-padding / 4);
        padding-bottom: ($vertical-padding / 4);
      }
    }
  }

  @media screen and (max-width: $mediumdevice) {
    margin-top: 0;
    padding-bottom: $socialmenumobile;
  }
}
