header {
  @include trans(
    $trans-speed: 0.4s
  );
  position: fixed;
  top: -100%;
  left: 0;
  padding: ($gutter / 2);
  width: 100%;
  z-index: 99999;

  // When the page is loaded
  .active & {
    top: 0;
  }

  a {
    color: $base;
  }

  ul {
    @include clean-ul;
    display: flex;

    li {
      margin-left: $gutter;

      a {
        color: $base;
        font-weight: 500;
      }
    }
  }

  // Noah Shrader icon
  .logo {
    position: relative;
    display: flex;
    font-weight: 500;
    align-items: center;

    &:hover {

      svg {
        transform: rotate(-15deg);

        #Group-2,
        path {
          stroke: $base;
        }
      }
    }

    .name {
      margin-right: ($gutter * 1.5);
    }
  }

  nav {
    a {
      position: relative;
      margin-right: ($gutter / 3);

      &::before {
        display: none;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: $primary;
      }

      &.active {
        &::before {
          display: block;
        }
      }
    }
  }

  .wrap {
    align-items: center;
    justify-content: space-between;
    max-width: $maxdesktop;
  }

  .social {
    @include clean-ul;
    display: flex;
    z-index: 9998;

    li {
      margin: 0;
      margin-left: ($gutter / 3);

      a {
        display: flex;
        justify-content: center;
        color: $black;
      }

      svg {
        --size: 28px;
        height: var(--size);
        width: var(--size);
        transform: scale(0.8);

        path {
          @include trans;
        }

        &:hover {
          path {
            fill: $primary;
          }
        }
      }

      @media screen and (max-width: $mediumdevice) {
        flex: 1;
        margin-bottom: 0;
        margin-right: 0;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      bottom: -100%;
      right: 0;
      width: 100%;
      max-width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0 5%;
      height: $socialmenumobile;
      background: $white;

      .active & {
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: $mediumdevice) {
    padding: ($gutter / 4);

    .active & {
      top: 0;
    }
  }
}
