.notes {
	text-align: center;
	padding: $sectionpadding 5% ($sectionpadding * 1.5);

	ul {
		@include clean-ul;
		margin: 0 auto;
		height: 100%;
		max-width: $mediummaxwidth;

		li {
			display: block;
			padding: 0;
			width: 100%;

			a {
				@include clearfix;
				display: block;
				color: $base;
				font-weight: 500;
				padding: ($gutter / 3) ($gutter / 2);
				width: 100%;

				&:hover {
					background: $white;
					box-shadow: -30px 30px 50px rgba($black, .1);
					transform: scale(1.03);

					h4 {
						color: $primary;
					}
				}
			}

			&:last-child {
				border: 0;
			}

			// Post title
			h4 {
				float: left;
				line-height: 40px;
				margin-bottom: 0;

				@media only screen and (max-width: $mediumdevice) {
					line-height: 1.2em;
				}
			}

			// Date
			span {
				@include trans;
				float: right;
				display: block;
				color: $gray;
				font-size: .85em;
				font-weight: 300;
				line-height: 40px;
				border-radius: 30px;

				@media only screen and (max-width: $mediumdevice) {
					float: none;
					margin-bottom: .3em;
				}
			}
		}
	}

	@media only screen and (max-width: $mediumdevice) {
		padding-top: $sectionpadding/2;
		padding-bottom: $sectionpadding/2;
	}
}