.projects {
	display: flex;
	flex-direction: column;

	.project {
		align-self: center;
		position: relative;
		margin-top: ($sectionpadding * 1.5);
		margin-bottom: ($sectionpadding * 1.5);
		width: 100%;
		max-width: 1800px;

		&.right {
			align-self: flex-end;

			@media only screen and (max-width: $mediumdevice) {
				align-self: center;
				width: 90%;
			}
		}

		&.left {
			align-self: flex-start;

			@media only screen and (max-width: $mediumdevice) {
				align-self: center;
				width: 90%;
			}
		}

		.info {
			position: relative;
			padding: 0 5% ($gutter / 2);
			min-width: 250px;
			z-index: 10;

			h1 {
				color: $primary;
				font-size: 6.4em;
				margin-bottom: 40px;

				@media only screen and (max-width: $desktop) {
					font-size: 5em;
			  }

				@media only screen and (max-width: $mediumdevice) {
					font-size: 3em;
				}
			}

			p {
				em {
					color: $base;
					background: #f3f315;
				}
			}

			.button {
				@include btn(
					$btn-type: 'round'
				);
			}

			@media only screen and (max-width: $mediumdevice) {
				text-align: center;
				padding-left: 0;
				padding-right: 0;
				width: 100%;
			}
		}

		@media only screen and (max-width: $mediumdevice) {
			margin-top: ($sectionpadding / 2);
			margin-bottom: ($sectionpadding / 2);
			min-height: 0;
			width: 90%;
		}
	}

	@media only screen and (max-width: $mediumdevice) {
		padding-right: 0;
		padding-left: 0;
	}
}