.social {
  @include clean-ul;
  @include trans(
    $trans-speed: 0.6s
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: -($horizontal-padding);
  bottom: 0;
  padding-bottom: ($gutter / 1.5);
  width: $horizontal-padding;
  max-width: $headerwidth;
  z-index: 9990;

  // When the page loads
  .active & {
    right: 0;
  }

  li {
    margin-bottom: ($gutter / 3);

    &:last-child {
      margin-bottom: 0;
    }

    &.github {
      @media screen and (max-width: $mediumdevice) {
        display: none;
      }
    }

    a {
      display: flex;
      justify-content: center;
      color: $black;
    }

    // Reduce size of Medium
    &.medium {
      svg {
        transform: scale(0.8);

        path {
          @include trans;
        }

        &:hover {
          path {
            fill: $primary;
          }
        }
      }

      @media screen and (max-width: $mediumdevice) {
        margin-top: -4px;
      }
    }

    // Reduce size of LinkedIn
    &.linkedin {
      i {
        font-size: 0.8em !important;
      }

      @media screen and (max-width: $mediumdevice) {
        margin-top: -2px;
      }
    }

    &.behance {

      i {
        @media screen and (max-width: $mediumdevice) {
          font-size: 1em !important;
        }
      }
    }

    &:hover {
      color: $primary;
    }

    i {
      font-size: 1em;

      @media screen and (max-width: $mediumdevice) {
        font-size: 0.9em;
      }
    }

    @media screen and (max-width: $mediumdevice) {
      flex: 1;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  @media screen and (max-width: $mediumdevice) {
    bottom: -100%;
    right: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    height: 60px;
    background: $white;

    .active & {
      bottom: 0;
    }
  }
}
