.social {
  @include clean-ul;
  @include trans(
    $trans-speed: 0.4s
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: -($horizontal-padding);
  bottom: 0;
  padding-bottom: ($gutter / 1.5);
  width: $horizontal-padding;
  max-width: $headerwidth;
  z-index: 9998;

  // When the page loads
  .active & {
    right: 0;
  }

  li {
    margin-bottom: ($gutter / 3);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      justify-content: center;
      color: $black;
    }

    svg {
      --size: 25px;
      height: var(--size);
      width: var(--size);
      transform: scale(0.8);

      path {
        @include trans;
      }

      &:hover {
        path {
          fill: $primary;
        }
      }
    }

    @media screen and (max-width: $mediumdevice) {
      flex: 1;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  @media screen and (max-width: $mediumdevice) {
    bottom: -100%;
    right: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
    height: $socialmenumobile;
    background: $white;

    .active & {
      bottom: 0;
    }
  }
}
