.text-hero {
  @include trans;
  position: relative;
  overflow: hidden;

  .wrap {
    flex-direction: column;
    max-width: $largedevice;

    &-inner {
      display: flex;
    }
  }

  // Reading
  &.read {
    .wrap {
      @include trans;

      &-inner {
        @include trans;
        align-items: flex-start;
        justify-content: space-between;
      }

      @media screen and (max-width: $mediumdevice) {
        text-align: center;
        align-items: center;
      }
    }

    h4 {
      margin-bottom: calc($gutter / 6);
    }

    // Link to launch book library
    .book-library {
      display: flex;
      flex: 0 0 auto;

      @media screen and (max-width: $mediumdevice) {
        justify-content: center;
        width: 100%;
      }
    }

    .book-author {
      margin-top: $gutter;
    }

    // When book list visible
    &.open {

      .section-header,
      .wrap-inner {
        opacity: 0;
      }

      .wrap-inner {
        height: 500px;
      }

      .book-list {
        @include visible;
        top: 0;
      }

      .book-list-close {
        @include visible;
        transform: scale(1);
      }

      @media screen and (max-width: $mediumdevice) {
        padding-left: calc($gutter / 2);
        padding-right: calc($gutter / 2);
      }
    }

    .section-header {
      @include trans;
    }
  }
}
