// TODO: Refactor to mixin
.button {
  @include border-radius;
  display: inline-block;
  font-size: 0.65em;
  line-height: 32px;
  padding: 0 ($gutter / 3);
  height: 34px;

  &.secondary {
    border: solid 1px $primary;
  }
}