@mixin btn (
  $btn-type: 'box',
  $btn-color: $primary,
  $btn-font-family: $secfont,
  $btn-font-size: .7em,
  $btn-font-weight: 600,
  $btn-padding: 0 2.2em,
  $btn-height: 55px,
  $btn-width: auto,
  $btn-border-style: solid,
  $btn-border-width: 1px,
  $btn-border-color: $primary,
  $btn-color-hover: $white,
  $btn-bg-color: transparent,
  $btn-bg-color-hover: lighten($btn-bg-color, 5%)
) {
  @include trans;
  @include border-radius;
  display: inline-block;
  color: $btn-color;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: $btn-padding;
  line-height: $btn-height;
  width: $btn-width;
  background: $btn-bg-color;
  border: $btn-border-style $btn-border-width $btn-border-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $btn-color-hover;
    background: $btn-color;
  }

  &:focus {
    outline: 0;
  }

  @if $btn-type == 'round' {
    text-transform: none;
    letter-spacing: 1px;
    line-height: ($btn-height / 2);
    border-radius: 30px;
  }
}
