@font-face {
  font-family: 'aktiv-regular';
  src:  url('../fonts/aktiv-regular.woff2') format('woff2'), url('../fonts/aktiv-regular.woff') format('woff');
}

@font-face {
  font-family: 'aktiv-bold';
  src:  url('../fonts/aktiv-bold.woff2') format('woff2'), url('../fonts/aktiv-bold.woff') format('woff');
}
