h1,
h2,
h3,
h4,
h5 {
  font-family: $mainfont;
  font-weight: 500;
	padding: 0;
	margin: 0;
  margin-bottom: ($gutter / 2);
}

h1 {
	font-size: max(32px, 5.6vw);
	line-height: 1.2em;
  font-weight: 400;

  &.jumbo {
    font-size: max(32px, 8.6vw);
    font-weight: 500;
    letter-spacing: -1px;
  }
}

h2 {
  font-size: max(32px, 3.6vw);
  line-height: 1.2em;
  letter-spacing: -0.5px;

  &.large {
    @extend h1;
  }
}

h3 {
  font-size: max(24px, 2.2vw);
  line-height: 1.4em;
}

h4 {
  font-size: max(24px, 1.4vw);
  line-height: 1.4em;
}

h5 {
  font-size: max(24px, 1.1vw);
}

p {
  color: $base;
  font-size: max(16px, 1vw);
  line-height: 1.8em;
  margin: 0;
  margin-bottom: ($gutter / 1.5);
  padding: 0;
}
