// Headings
h1,
h2,
h3,
h4,
h5 {
	color: $base;
	font-weight: 400;
	padding: 0;
	margin: 0;

	body.music & {
		color: white;
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1em;
  margin-bottom: .8em;

	@media screen and (max-width: $desktop) {
		font-size: 2.4em;
    }

   	@media screen and (max-width: $smalldevice) {
        font-size: 2.2em;
    }
}

h2 {
	font-size: 2.3em;
	line-height: 1.3em;

	@media screen and (max-width: $mediumdevice) {
        font-size: 2em;
    }

	@media screen and (max-width: $smalldevice) {
        font-size: 1.6em;
    }
}

h3 {
	font-size: 1.6em;
	line-height: 1.3em;
  margin-bottom: 1.2em;

 	@media screen and (max-width: $mediumdevice) {
    font-size: 1.3em;
  }
}

h4 {
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.6em;

	&.section-title {
	   	@media screen and (max-width: $mediumdevice) {
	        text-align: center;
	    }
	}

   	@media screen and (max-width: $mediumdevice) {
        font-size: 1.15em;
        line-height: 1.2em;
    }
}

h5 {
	@include smallcaps;
	color: $gray;
	margin-bottom: 2em;
}

// Paragraph
p {
	color: $base;
	font-size: 1.05em;
	line-height: 1.7em;
	margin: 0 0 2em;

  a {
    position: relative;

    &::after {
      @include trans;
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      background: rgba($primary, .1);
      width: 100%;
      height: 8px;
      z-index: -1;
    }

    &:hover {
      color: white;

      &::after {
        bottom: 0;
        height: 100%;
        background: $primary;
      }
    }
  }

	@media screen and (max-width: $mediumdevice) {
		font-size: 1em;
  }
}