@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headingfont;
  font-weight: 600;
	padding: 0;
	margin: 0;
  margin-bottom: calc($gutter / 1.2);
}

h1 {
	font-size: max(32px, 6vw);
	line-height: 110%;

  &.jumbo {
    font-size: max(32px, 8.4vw);
    letter-spacing: -1.5px;
  }
}

h2 {
  font-size: max(32px, 3.6vw);
  line-height: 120%;

  &.large {
    @extend h1;
  }
}

h3 {
  font-size: max(24px, 2.1vw);
  line-height: 120%;
}

h4 {
  font-size: max(24px, 1.5vw);
  line-height: 150%;
}

h5 {
  font-size: max(24px, 1.3vw);
}

p {
  color: $dgray;
  font-size: max(16px, 1.1vw);
  letter-spacing: -0.2px;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
  margin-bottom: calc($gutter / 1.2);
  padding: 0;
}
